In [5]:
import ipywidgets as widgets
from ipywidgets import interact_manual
from IPython.display import display

In [2]:
#%matplotlib widget
#import ipympl
import matplotlib.pyplot as plt

plt.style.use('ggplot')

import plots

def generate(countries):
    try:
        plt.close('all')
        plots.generate_all_plots([s.strip() for s in countries.split(',')])
    except Exception as e:
        print(e)
        
cases, _, _ = plots.parse_country_data()
print(f"Following countries are available {cases.index.values}")
default_countries = "Italy, China, Germany"

Following countries are available ['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas, The' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina' 'Brazil'
 'Brunei' 'Bulgaria' 'Burkina Faso' 'Cabo Verde' 'Cambodia' 'Cameroon'
 'Canada' 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia'
 'Congo (Brazzaville)' 'Congo (Kinshasa)' 'Costa Rica' "Cote d'Ivoire"
 'Croatia' 'Cruise Ship' 'Cuba' 'Cyprus' 'Czechia' 'Denmark' 'Djibouti'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Estonia' 'Eswatini' 'Ethiopia' 'Fiji' 'Finland' 'France' 'Gabon'
 'Gambia, The' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Guatemala' 'Guinea'
 'Guyana' 'Haiti' 'Holy See' 'Honduras' 'Hungary' 'Iceland' 'India'
 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan'
 'Jordan' 'Kazakhstan' 'Kenya' 'Korea, South' 'Kosovo' 'Kuwait'
 'Kyrgyzstan' 'Latvia' 'Lebanon' 'Liberia' 'Liechtenstein' 'Lithuania'
 'Luxembourg' 'Madagascar' 'Malaysia' 'Maldives' 'Malta' 'Martinique'
 'Mauritania' 'Mauritius' 'Mexico' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Morocco' 'Namibia' 'Nepal' 'Netherlands' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia' 'Norway' 'Oman'
 'Pakistan' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines'
 'Poland' 'Portugal' 'Qatar' 'Romania' 'Russia' 'Rwanda' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'San Marino' 'Saudi Arabia' 'Senegal'
 'Serbia' 'Seychelles' 'Singapore' 'Slovakia' 'Slovenia' 'Somalia'
 'South Africa' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Taiwan*' 'Tanzania' 'Thailand' 'Togo'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'US' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'Uruguay' 'Uzbekistan'
 'Venezuela' 'Vietnam' 'Zambia' 'Zimbabwe']

In [3]:
interact_manual(generate, countries=default_countries)

interactive(children=(Text(value='Italy, China, Germany', description='countries'), Button(description='Run Inâ€¦

In [4]:
# cases[cases.index.isin(countries)].T.diff()

In [10]:
cases, _, _ = plots.parse_province_data("China")
cases

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20
154,Hubei,China,30.9756,112.2707,444,444,549,761,1058,1423,...,67760,67773,67781,67786,67790,67794,67798,67799,67800,67800
158,Guangdong,China,23.3417,113.4244,26,32,53,78,111,151,...,1353,1356,1356,1356,1356,1360,1361,1364,1370,1378
159,Henan,China,33.8820,113.6140,5,5,9,32,83,128,...,1272,1273,1273,1273,1273,1273,1273,1273,1273,1273
160,Zhejiang,China,29.1832,120.0934,10,27,43,62,104,128,...,1215,1215,1215,1215,1227,1231,1231,1232,1232,1233
161,Hunan,China,27.6104,111.7088,4,9,24,43,69,100,...,1018,1018,1018,1018,1018,1018,1018,1018,1018,1018
162,Anhui,China,31.8257,117.2264,1,9,15,39,60,70,...,990,990,990,990,990,990,990,990,990,990
163,Jiangxi,China,27.6140,115.7221,2,7,18,18,36,72,...,935,935,935,935,935,935,935,935,935,935
164,Shandong,China,36.3427,118.1498,2,6,15,27,46,75,...,758,760,760,760,760,760,760,761,761,761
166,Jiangsu,China,32.9711,119.4550,1,5,9,18,33,47,...,631,631,631,631,631,631,631,631,631,631
167,Chongqing,China,30.0572,107.8740,6,9,27,57,75,110,...,576,576,576,576,576,576,576,576,576,576
168,Sichuan,China,30.6171,102.7103,5,8,15,28,44,69,...,539,539,539,539,539,539,539,540,540,540
169,Heilongjiang,China,47.8620,127.7615,0,2,4,9,15,21,...,481,482,482,482,482,482,482,482,482,483
171,Beijing,China,40.1824,116.4142,14,22,36,41,68,80,...,429,435,435,436,437,442,452,456,469,480
172,Shanghai,China,31.2020,121.4491,9,16,20,33,40,53,...,344,344,344,346,353,353,355,358,361,363
173,Hebei,China,39.5490,116.1306,1,1,2,8,13,18,...,318,318,318,318,318,318,318,318,318,318
174,Fujian,China,26.0789,117.9874,1,5,10,18,35,59,...,296,296,296,296,296,296,296,296,296,296
175,Guangxi,China,23.8298,108.7881,2,5,23,23,36,46,...,252,252,252,252,252,252,252,253,253,253
176,Shaanxi,China,35.1917,108.8701,0,3,5,15,22,35,...,245,245,245,245,245,245,245,246,246,246
177,Yunnan,China,24.9740,101.4870,1,2,5,11,16,26,...,174,174,174,174,174,174,176,176,176,176
178,Hainan,China,19.1959,109.7453,4,5,8,19,22,33,...,168,168,168,168,168,168,168,168,168,168
179,Guizhou,China,26.8154,106.8748,1,3,3,4,5,7,...,146,146,146,146,146,146,146,147,146,146
180,Tianjin,China,39.3054,117.3230,4,4,8,10,14,23,...,136,136,136,136,136,136,136,136,136,137
181,Shanxi,China,37.5777,112.2922,1,1,1,6,9,13,...,133,133,133,133,133,133,133,133,133,133
182,Gansu,China,37.8099,101.0583,0,2,2,4,7,14,...,125,127,127,127,129,133,133,133,133,134
183,Hong Kong,China,22.3000,114.2000,0,2,2,5,8,8,...,120,126,129,134,140,145,155,162,181,208
184,Liaoning,China,41.2956,122.6085,2,3,4,17,21,27,...,125,125,125,125,125,125,125,125,125,125
185,Jilin,China,43.6661,126.1923,0,1,3,4,4,6,...,93,93,93,93,93,93,93,93,93,93
187,Xinjiang,China,41.1129,85.2401,0,2,2,3,4,5,...,76,76,76,76,76,76,76,76,76,76
188,Inner Mongolia,China,44.0935,113.9448,0,0,1,7,7,11,...,75,75,75,75,75,75,75,75,75,75
189,Ningxia,China,37.2692,106.1655,1,1,2,3,4,7,...,75,75,75,75,75,75,75,75,75,75
193,Qinghai,China,35.7452,95.9956,0,0,0,1,1,6,...,18,18,18,18,18,18,18,18,18,18
194,Macau,China,22.1667,113.5500,1,2,2,2,5,6,...,10,10,10,10,10,10,11,12,15,17
202,Tibet,China,31.6927,88.0924,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

In [11]:
cases[cases["Province/State"]=="Beijing"]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20
171,Beijing,China,40.1824,116.4142,14,22,36,41,68,80,...,429,435,435,436,437,442,452,456,469,480