In [1]:
import ipywidgets as widgets
from ipywidgets import interact_manual
from IPython.display import display
import numpy as np
import pandas as pd

In [2]:
#%matplotlib widget
#import ipympl
import matplotlib.pyplot as plt

plt.style.use('ggplot')

import plots

def generate(countries):
    try:
        plt.close('all')
        plots.generate_registered_plots([s.strip() for s in countries.split(',')])
    except Exception as e:
        print(e)
        
cases, _, _ = plots.parse_data()
print(f"Following countries are available {cases.index.values}")
default_countries = "Italy, US, Germany, Canada"

Following countries are available ['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas, The' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina' 'Brazil'
 'Brunei' 'Bulgaria' 'Burkina Faso' 'Cabo Verde' 'Cambodia' 'Cameroon'
 'Canada' 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia'
 'Congo (Brazzaville)' 'Congo (Kinshasa)' 'Costa Rica' "Cote d'Ivoire"
 'Croatia' 'Cruise Ship' 'Cuba' 'Cyprus' 'Czechia' 'Denmark' 'Djibouti'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Estonia' 'Eswatini' 'Ethiopia' 'Fiji' 'Finland' 'France' 'Gabon'
 'Gambia, The' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Guatemala' 'Guinea'
 'Guyana' 'Haiti' 'Holy See' 'Honduras' 'Hungary' 'Iceland' 'India'
 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan'
 'Jordan' 'Kazakhstan' 'Kenya' 'Korea, South' 'Kosovo' 'Kuwait'
 'Kyrgyzstan' 'Latvia' 'Lebanon' 'Liberia' 'Liechtenstein' 'Lithuania'
 'Luxembourg' 'Madagascar' 'Malaysia' 'Maldives' 'Malta' 'Martinique'
 'Mauritania' 'Mauritius' 'Mexico' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Morocco' 'Namibia' 'Nepal' 'Netherlands' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia' 'Norway' 'Oman'
 'Pakistan' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines'
 'Poland' 'Portugal' 'Qatar' 'Romania' 'Russia' 'Rwanda' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'San Marino' 'Saudi Arabia' 'Senegal'
 'Serbia' 'Seychelles' 'Singapore' 'Slovakia' 'Slovenia' 'Somalia'
 'South Africa' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Taiwan*' 'Tanzania' 'Thailand' 'Togo'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'US' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'Uruguay' 'Uzbekistan'
 'Venezuela' 'Vietnam' 'Zambia' 'Zimbabwe']

In [3]:
interact_manual(generate, countries=default_countries)

interactive(children=(Text(value='Italy, US, Germany, Canada', description='countries'), Button(description='Râ€¦

In [4]:
confirmed = pd.read_csv("COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv")

In [6]:
confirmed[confirmed['Country/Region']=="US"]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20
98,Washington,US,47.4009,-121.4905,0,0,0,0,0,0,...,366,442,568,572,643,904,1076,1014,1376,1524
99,New York,US,42.1657,-74.9481,0,0,0,0,0,0,...,220,328,421,525,732,967,1706,2495,5365,8310
100,California,US,36.1162,-119.6816,0,0,0,0,0,0,...,177,221,282,340,426,557,698,751,952,1177
101,Massachusetts,US,42.2302,-71.5301,0,0,0,0,0,0,...,95,108,123,138,164,197,218,218,328,413
102,Diamond Princess,US,35.4437,139.6380,0,0,0,0,0,0,...,46,46,46,46,46,47,47,47,47,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,"New Castle, DE",US,39.5393,-75.6674,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
414,Alabama,US,32.3182,-86.9023,0,0,0,0,0,0,...,0,0,5,6,12,29,39,46,78,83
417,Puerto Rico,US,18.2208,-66.5901,0,0,0,0,0,0,...,0,0,0,3,5,5,5,5,5,14
431,Guam,US,13.4443,144.7937,0,0,0,0,0,0,...,0,0,0,0,3,3,3,5,12,14
448,Virgin Islands,US,18.3358,-64.8963,0,0,0,0,0,0,...,0,0,0,1,1,1,2,2,3,3